body {
  background-color: rgb(33, 32, 32);
  color: white;

}

main{
  padding-top: 84px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(33, 32, 32);
  border-bottom: 2px solid rgb(120, 196, 221);
  z-index: 10000;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  width: 100%
}


p{
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

#links-container {
  display: flex;
  flex: 1;
  gap: 60px;
  align-items: center;

}

.links {
  font-size: 32px;
  text-decoration: none;
  color: white;

}

#information {
  justify-content: center;
  align-items: center;
}
#home{
  display: flex;
  flex: 1;

}


#home, #header-texts{
  font-size: 22px;
  text-align: left;
}

#personal-info-container{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
 
}

#image-container{
  display: flex;
  flex: 1;
  width: 400px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  width: 50%;
}
#personal-info{
  text-align: left;
  width: 50%;
  flex: 1;
}

#personal-info h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  color: rgb(120, 196, 221);
}

img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

#pfp{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: contain;

}

.img-container{
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 16px;
  border: solid black;
  overflow: hidden;
}


#divider{
  padding-top: 40px;
  padding-bottom: 60px;
  border-radius: 8px;
  width: 100%;
}


.blue-line{
  border: solid rgb(120, 196, 221);
  border-radius: 8px;
}

#about-container h2{
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
  color:  rgb(120, 196, 221);
}

#skills-container h2{
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
  color:  rgb(120, 196, 221);
}

#skills-container #skills-list{
  font-size: 22px;
  font-family: sans-serif;

}


#projects-container h2{
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
  color:  rgb(120, 196, 221);
  padding: 16px;
}


#project-1{
  flex: 1;

  align-items: center;
  border: solid rgb(120, 196, 221);
  border-radius: 8px;
}

#project-1 h3{
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}


#project-2{
  flex: 1;
  align-items: center;
  border: solid rgb(120, 196, 221);
  border-radius: 8px;
}

#project-2 h3{
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.img-frame{
  justify-content: center;
  display: flex;
}

#projects-wrapper{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.project-info .project-features{
  text-align: left;
  font-size: 22px;
  font-family: sans-serif;
}






